<% provide(:title, "About Us") %>
<% provide(:page_meta_description, "About page for a new Spark website") %>
<% provide(:page_meta_keywords, "website, web design, website template") %>
<% provide(:page_meta_image, image_url("example-meta-image.jpg")) %>

<section class="prose">
  <h1>
    About Us
  </h1>

  <p>
    Update this in static_pages#about
  </p>
</section>
