<section class="prose">
  <h1>
    Contact Us
  </h1>
  <p>
    Send us an email at
    <%= link_to "mailto:#{site_email}" do %>
      <%= site_email %>
    <% end %>
  </p>

  <p>
    Update this in static_pages#contact
  </p>
</section>
