<section class="prose">
  <h1 class="text-green-600 text-3xl">
    <%= site_title %>
    <br>
    If I'm green then Tailwind is set up correctly.
  </h1>

  <p>
    <%= site_description %>
  </p>

  <div class="py-6">
    <h2>
      Check Your Stimulus
    </h2>

    <p>
      Use this to confirm that Stimulus is wired up correctly. Whatever you enter in the text field shoudl show up in the console when you click the greet button if Stimulus is working properly. Delete this at your leisure.
    </p>

    <div data-controller="hello">
      <input data-hello-target="name" type="text">
      <button data-action="click->hello#greet">Greet</button>
    </div>

  </div>
</section>
