<h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
	Homepage
</h1>

<section class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
	<p>If you see this page at the root path that is a good indication that your Spark install went smoothly.</p>

	<p class="mt-4">Also, you're reading a sans font and <span class="text-indigo-700">this text is in indigo</span>, that means that TailwindCSS is configured properly.</p>
</section>
