<h1>
	Homepage
</h1>

<p>If you see this page at the root path that is a good indication that your Spark install went smoothly.</p>

<p>Also, you're reading a sans font and <span class="text-indigo-700">this text is in indigo</span>, that means that TailwindCSS is configured properly.</p>
