<% provide(:title, "Sign in") %>

<section class="max-w-sm mx-auto">
  <h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
    Sign in
  </h1>

  <%= render partial: "/sessions/form" %>

  <p class="mt-8">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to "Sign up", sign_up_path %> &bull;
    <% end %>
    <%= link_to "forgot password?", new_password_path %>
  </p>
</section>
