<% if object.errors.any? %>
  <div id="error_explanation" class="bg-red-100 px-2 py-4">
    <p><strong>The form contains
    <%= pluralize(object.errors.count, "error") %>.</strong></p>
    <ul class="list-disc list-inside">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
