<% flash.each do |msg_type, message| %>
  <div class="alert max-w-7xl mx-auto">
    <div class="bg-indigo-100 rounded shadow py-4 px-8 mt-4 mb-8">
      <button class="close" data-dismiss="alert"><span>×</span></button>
      <%= message %>
    </div>
  </div>
<% end %>
