<% if current_user && current_user.admin? %>
  <h1 class="text-2xl pb-4">
    In the News
  </h1>

  <section class="prose">
    <ul>
      <% @news_clips.each_with_index do |news_clip, index| %>
        <li class="py-2 news-clip-<%= index %>">
          <%= link_to "#{news_clip.headline}", admin_news_clip_path(news_clip) %>
        </li>
      <% end %>
    </ul>
  </section>

  <p class="inline-flex rounded-md shadow-sm">
    <%= link_to "Add a News Clip", new_admin_news_clip_path, class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
  </p>
<% end %>
