<% provide(:title, "Sign up") %>

<section>
    <h1>Sign Up</h1>

    <%= form_for @user do |form| %>
      <%= render partial: "/users/form", object: form %>

      <%= form.submit %>
    <% end %>

    <p>
      Already a user? <%= link_to "Sign in", sign_in_path %>
    </p>
</section>
