<footer class="mt-16">
	<section class="max-w-3xl mx-auto">
		<p class="credits">
			Look, It's a New Spark Website!
		</p>

		<p class="copyright text-xs">
			<%= link_to "https://github.com/mcalilly/spark/blob/master/MIT-LICENSE" do %>
				&copy; <%= Time.zone.now.year %>
			<% end %>
		</p>
	</section>

	<% if signed_in? %>
    <section class="login-links max-w-3xl mx-auto mt-8">
      <p>
        Signed in as <%= current_user.email %>. <%= link_to "Sign out", sign_out_path, method: :delete %>

				<% if current_user.admin? %>
					<span>Usder role: Admin</span>
				<% else %>
					<span>User role: Guest</span>
				<% end %>
      </p>
    </section>
  <% end %>
</footer>
