<% if current_user && current_user.admin? %>
  <section>
    <h1>
      Settings
    </h1>

    <% if @settings.present? %>
      <p>
        <%= link_to "Edit Settings", edit_setting_path(Setting.last) %>
      </p>
    <% else %>

      <p>
        You need to add your default settings for the site. (Your default page titles, contact email, etc. will be Spark CMS settings until you update your settings.)
      </p>

      <p>
        <%= link_to "Add Settings", new_setting_path %>
      </p>
    <% end %>
  </section>
<% end %>
