<% provide(:title, "Change your password") %>

<section class="max-w-lg mx-auto">
  <h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
    Change your password
  </h1>

  <p class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
    Your password has been reset. Choose a new password below.
  </p>

  <%= form_for :password_reset, url: user_password_path(@user, token: @user.confirmation_token), html: { method: :put, class: "mt-8 max-w-sm" } do |form| %>
    <fieldset class="mt-4">
      <%= form.label :password, class: "block text-sm font-medium leading-5 text-gray-700" %>
      <div class="mt-1 relative rounded-md shadow-sm">
        <%= form.password_field :password, type: "password", class: "form-input block w-full sm:text-sm sm:leading-5" %>
      </div>
    </fieldset>

    <fieldset class="inline-flex rounded-md shadow-sm mt-4">
      <%= button_tag "Save new password", type: "submit", class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150" %>
    </fieldset>
  <% end %>
</section>
