<% content_for :h1 do %>
  Homepage
<% end %>

<section class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
	<p>If you see this page at the root path that is a good indication that your Spark install went smoothly.</p>

	<p class="mt-4">Also, you're reading a sans font and <span class="text-teal-600">this text is teal</span>, that means that TailwindCSS is configured properly. Alpine JS  used with Tailwind should also work. You can test this by sizing your browser down to a mobile width and making sure the hamburger menu works.</p>
</section>


<section class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
	<h2 class="text-xl text-teal-600">
    A few reminders:
  </h2>

	<ul class="mt-4 list-disc list-inside">
    <li>
      We took the liberty to set you up with some default content. You can login with the admin user that was generated when the Spark template ran <span class="text-teal-600">rails db:seed</span>: <span class="text-teal-600">elvis@example.com / bacon</span>.
    </li>
    <li class="mt-4">
      Make sure to update <%= link_to "your settings", settings_path, class: "text-indigo-600" %> after deploying to production. Settings like your email and site name are what will be used as default page title and contact email. If you forget to update these it will display Spark info.
    </li>
    <li class="mt-4">
      You can run all the tests out of the box with Guard using <span class="text-teal-600">bundle exec guard</span>.
    </li>
    <li class="mt-4">
      File uploads are currently configured to use Active Storage and store files locally. You're probably gonna want to change this to something like <%= link_to "Amazon S3", "https://edgeguides.rubyonrails.org/active_storage_overview.html" %>.
  </ul>
</section>
