<% content_for :h1 do %>
  Homepage
<% end %>

<section class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
	<p>If you see this page at the root path that is a good indication that your Spark install went smoothly.</p>

	<p class="mt-4">Also, you're reading a sans font and <span class="text-indigo-700">this text is in indigo</span>, that means that TailwindCSS is configured properly.</p>
</section>


<section class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
	<p>A few reminders:</p>

	<ul class="mt-4 list-disc list-inside">
    <li>
      Make sure to update <%= link_to "your settings", settings_path %> after deploying to production. Settings like your email and site name are what will be used as default page title and contact email. If you forget to update these it will display Spark info.
    </li>
    <li>
      You can run all the tests out of the box with Guard using <span class="text-teal-600">bundle exec guard</span>.
    </li>
  </ul>
</section>
