<% provide(:title, "Your password reset email is on the way") %>

<section class="max-w-lg mx-auto">
  <h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
    Your password reset email is on the way!
  </h1>
  <p class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
    You will receive an email within the next few minutes. It contains instructions for changing your password.
  </p>
</section>
