<div class="flex-shrink-0 flex border-t border-gray-200 p-4">
  <%= link_to log_out_path, method: :delete, class: "flex-shrink-0 w-full group block" do %>
    <div class="flex items-center">
      <div class="sign-out">
        <p class="text-sm leading-5 font-medium text-gray-700 group-hover:text-gray-900">
          <%= current_user.email %>
        </p>
        <p class="text-xs leading-4 font-medium text-gray-500 group-hover:text-gray-700 transition ease-in-out duration-150">
          Signed in as
          <% if current_user.admin? %>
            an Admin.
          <% else %>
            a Member.
          <% end %>
        </p>
        <p class="text-sm mt-4 leading-4 font-medium text-indigo-600 group-hover:text-gray-700 transition ease-in-out duration-150">
          Log out &rarr;
        </p>
      </div>
    </div>
  <% end %>
</div>
