<div class="flex items-center flex-shrink-0 px-4">
  <% if site_logo.attached? %>
    <%= image_tag site_logo.variant(resize_to_fit: [100, 100]), class: "mt-2", alt: "featured image preview", loading: "lazy" %>
  <% else %>
    <%= site_title %>
  <% end %>
</div>
