<% provide(:title, "Your password reset email is on the way") %>

<section>
  <h1>
    Your password reset email is on the way!
  </h1>
  <p>
    You will receive an email within the next few minutes. It contains instructions for changing your password.
  </p>
</section>
