<% if signed_in? && current_user.admin? %>

  <% content_for :h1 do %>
    Blog
  <% end %>

  <% content_for :page_actions do %>
    <span class="shadow-sm rounded-md">
      <%= link_to new_post_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150" do %>
        New Post
      <% end %>
    </span>
  <% end %>
<% else %>

  <% content_for :h1 do %>
    Blog
  <% end %>

<% end %>

<section class="mt-8">
  <ul>
    <% @posts.each do |post| %>
      <li class="mt-8">
        <%= link_to post do %>
          <h2 class="text-xl font-semibold text-indigo-600 hover:text-indigo-900">
            <%= post.title %>
          </h2>
          <p>
            <%= post.description %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
