<% content_for :h1 do %>
  New Post
<% end %>

<hr>
<p class="mt-4">
  <%= link_to posts_path, class: "text-indigo-600" do %>
    &#8592; All posts
  <% end %>
</p>

<%= render 'form', post: @post %>
